ion-title{
  padding-top: 12px;
  padding-left: 5px;
  font-size: 18px;
}
ion-col{
  padding-right: 0;
}
ion-item {
    --padding-start: 20px;
    --inner-padding-end: 0;
  }
  
  ion-label {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  
  ion-item h2 {
    margin: 0;
  }
  
  ion-item p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 95%;
  }
  
  ion-item ion-note {
    font-size: 15px;
    margin-right: 8px;
    font-weight: normal;
  }
  
  ion-item ion-note.md {
    margin-right: 14px;
  }

  ion-button{
    text-transform: capitalize;
  }
  
